.container {
    position: relative;
    width: 400px;
    height: 200px;
    border: 1px solid blue;
}

.control-bar-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: transparent;
    height: 40px;
}

.control-bar-wrapper:hover + .control-bar, .container .control-bar:hover {
    opacity: 1;
    transition:opacity 1s ease-in-out;
    left:0;
    background: #5fd4b8;
}

.control-bar {
    overflow-x: hidden;
    opacity: 1;
    position: absolute;
    left:-1000px;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: red;
    transition: opacity 10s ease-in-out;
}